@import "variables";

@mixin radius-6{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

@mixin fontFace{
  @font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf');
  }
  @font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf');
  }
}